{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
  %fail_on_warning
]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "HEAD"}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", "HEAD"}},
  {sockjs, ".*", {git, "https://github.com/sockjs/sockjs-erlang.git", "HEAD"}},
  {riak_core, ".*", {git, "https://github.com/basho/riak_core.git", {tag, "1.1.1"}}}
]}.
